/* CUSTOM CLASSES */
.sombra{
    box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.15);
}

.sombra-inferior{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.caixinha{
    padding: 5%; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icone{
    color: #4F4F50;
}

.titulo{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 3em;
}

.margem-inferior{
    margin-bottom: 50px;
}

.margem-superior{
    margin-top: 50px;
}

.gradiente{
    background-position: center center;
    background-size: cover;
    background-image: linear-gradient(90deg, rgba(106, 17, 203, 0.8) 0%, rgba(37, 117, 252, 0.8) 100%);
    background-attachment: scroll;
    background-repeat: no-repeat;
    padding: 15px 0px 15px 0px;
}

.titulo-gradiente{
    font-size: 2.5em;
    color: white;
}

.sem-padding{
    padding: 0px;
}


/* CUSTOM BOOTSTRAP CLASSES */
.btn{
    border-radius: 56px;
    background-color: var(--primary);
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
    border: none;
}

.btn:hover{
    background-color: var(--primary-dark);
}

.card{
    padding: 5%; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}